<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="../../../assets/img/logo.png" class="image">
      <div class="content">
        Sign up!
      </div>
    </h2>
    <form class="ui large form" [formGroup]="registerForm" (ngSubmit)="submitLogin(registerForm.value, registerForm.valid)">
      <div class="ui stacked segment">
        <sm-loader [complete]="!loading" class="inverted" text="Loading..."></sm-loader>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <sm-input label="E-mail" type="email" [control]="registerForm.controls.email"  placeholder="Enter e-mail..."></sm-input>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <sm-input label="Password" type="password" [control]="registerForm.controls.password" placeholder="Enter password..."></sm-input>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <sm-input label="Password again" type="password" [control]="registerForm.controls.passwordAgain" placeholder="Enter password..."></sm-input>
          </div>
        </div>
        <sm-button type="submit" [disabled]="!registerForm.valid" class="ui fluid large teal">Register</sm-button>
      </div>

      <div class="ui error message" [style.display] = "error==undefined? 'none' : 'block'">{{error}}</div>
    </form>
  </div>
</div>
